In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame({
    
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
})

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

## Для сохранения данных в таблицу создаётся DataFrame
Класс DataFrame — это двумерная структура данных

Каждый столбец в DataFrame представляет собой Series (ряд)

| Column 1 | Column 2 | Column 3 |
|:--------:|:--------:|:--------:|
|  Row 1   |  Row 1   |  Row 1   |
|  Row 2   |  Row 2   |  Row 2   |
|  Row 3   |  Row 3   |  Row 3   |

In [16]:
# максимальное значение столбца Age
df["Age"].max()

np.int64(58)

In [ ]:
##

In [45]:
# краткий обзор числовых данных в DataFrame (текстовые данные не учитываются по умолчанию)
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

In [19]:
import numpy as np

In [39]:
series = pd.Series(np.random.randn(1000))
series[::2] = np.nan
series.describe()

count    500.000000
mean       0.019654
std        0.977638
min       -3.079752
25%       -0.605914
50%        0.058472
75%        0.694997
max        2.399039
dtype: float64

In [42]:
series.describe(percentiles=[0.05, 0.25, 0.75, 0.95])

count    500.000000
mean       0.019654
std        0.977638
min       -3.079752
5%        -1.592445
25%       -0.605914
50%        0.058472
75%        0.694997
95%        1.520094
100%       2.399039
max        2.399039
dtype: float64

In [6]:
# Получение наименований колонок
df.columns

Index(['Name', 'Age', 'Sex'], dtype='object')